*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit;
  font-family: monaco; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  font-size: 5.4rem; }

.heading-secondary {
  font-size: 4rem; }

.description {
  font-size: 1.6rem;
  margin-top: 0.55rem;
  color: #6d6d6d; }

.nav {
  background-color: #3c4f4f;
  overflow: hidden;
  font-size: 1.9rem;
  padding: 0 8vw 0; }

.nav-list {
  list-style-type: none;
  overflow: hidden; }

.nav-brand {
  float: left;
  display: block;
  text-align: center;
  padding: 1.8rem 1.6rem;
  text-decoration: none;
  color: white;
  font-size: 2.2rem; }

.nav-item {
  float: left;
  display: block;
  text-align: center;
  padding: 2.0rem 1.6rem; }
  .nav-item .nav-link {
    text-decoration: none;
    color: white; }
  .nav-item:hover {
    cursor: pointer;
    background-color: #111; }
  .nav-item--right {
    float: right; }

.header {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.container {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem; }
