// FONT
$small-font-size: 1.6rem;
$defualt-font-size: 1.9rem;
$large-font-size: 2.2rem;
$primary-font-size: 5.4rem;
$secondary-font-size: 4.0rem;

// COLOR
$color-dark-grey: #3c4f4f;
$color-white: #fff;
$color-light-grey: rgb(109, 109, 109);
$color-lighter-grey: rgb(249, 249, 249);