*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit;
  outline: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  font-size: 3rem; }

.heading-secondary {
  font-size: 2.5rem;
  color: black; }

.arrow {
  position: absolute;
  top: 50%;
  transition: .2s; }
  .arrow--left {
    left: 4rem; }
  .arrow--right {
    right: 4rem; }
  .arrow:hover {
    transform: scale(1.2);
    cursor: pointer; }

.btn {
  width: 10rem;
  height: 4rem;
  font-size: 2rem; }

.card {
  text-align: center;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.12), 0 0.4rem 0.6rem rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: white; }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .card__heading {
    font-size: 2rem;
    padding-top: 0.8rem; }
  .card__description {
    font-size: 1.8rem;
    padding: 0.8rem 2.4rem; }
  .card-fade__back {
    opacity: 0;
    transition: all 0.3s linear; }
    .card-fade__back .image-box {
      width: 100%;
      height: 100%;
      background-color: orange; }
  .card-fade:hover .card-fade__back, .card .image-box {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .card-fade__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.card-flip {
  background-color: transparent;
  perspective: 1000px; }
  .card-flip--inner--horizontal {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
    transition: all 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.12), 0 0.4rem 0.6rem rgba(0, 0, 0, 0.24); }
  .card-flip:hover .card-flip--inner--horizontal {
    transform: rotateY(180deg);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .card-flip--inner--vertical {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
    transition: all 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.12), 0 0.4rem 0.6rem rgba(0, 0, 0, 0.24); }
  .card-flip:hover .card-flip--inner--vertical {
    transform: rotateX(180deg);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .card-flip__front, .card-flip__back {
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .card-flip__front {
    background-color: white; }
  .card-flip__back {
    position: absolute;
    top: 0;
    background-color: orange; }
    .card-flip__back--horizontal {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    .card-flip__back--vertical {
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg); }
    .card-flip__back__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

body {
  background-color: #a9e7ff; }

.container {
  width: 30rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.main {
  position: absolute;
  width: 100%;
  height: 100%; }
