// FONT
$primary-heading-font-size: 4.5rem;
$secondary-heading-font-size: 2.5rem;
$default-font-size: 1.8rem;
$card-heading-font-size: 2.0rem; 

// BOX
$default-box-shadow: 0 .4rem .6rem rgba(0,0,0,0.12), 0 .4rem .6rem rgba(0,0,0,0.24);
$dark-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

// Distance
$default-top-padding: 0.8rem;
$default-side-padding: 2.4rem;
$default-padding: $default-top-padding $default-side-padding;

// COLOR
$bgc-cards: rgb(169, 231, 255);
$bgc-buttons: rgb(7, 91, 78);
$bgc-navs: rgb(255, 225, 0);