.heading-primary {
    font-size: $primary-font-size;
}

.heading-secondary {
    font-size: $secondary-font-size;
}

.description {
    font-size: $small-font-size;
    margin-top: 0.6rem;
    color: $color-light-grey;
}