.btn {
    color: $color-dark-grey;
    background-color: transparent;
    font-size: $default-font-size;
    font-weight: 100;
    border: $color-dark-grey solid 0.05rem;
    border-radius: 0.2rem;
    padding: 1rem;
    transition: all .3s;
    min-width: 14rem; 

    &:hover {
        color: $color-light-grey-1;
        background-color: $color-dark-grey;
        cursor: pointer;
    }

    &:active {
        background-color: #445252;
    }

    &--active {
        background-color: #445252;
        color: white;
    }
}