.row {
    display: block;
    height: 70vh;
    text-align: center;
}

.col-4 {
    position: relative;
    height: 100%;
    width: 40%;
    float: left;
}

.col-6 {
    position: relative;
    height: 100%;
    width: 60%;
    float: left;
}

.col-3 {
    position: relative;
    height: 100%;
    width: 33.3%;
    float: left;
}