.arrow {
    position: absolute;
    top: 50%;
    transition: .2s;

    &--left {
        left: 4rem;
    }

    &--right {
        right: 4rem;
    }

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}