.card-flip {
    position: absolute;
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--inner--horizontal {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        float: left;
        transition: all 0.8s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        box-shadow: $default-box-shadow;
    }

    &:hover &--inner--horizontal {
        transform: rotateY(180deg);
        box-shadow: $dark-box-shadow;
    }

    &:active &--inner--horizontal {
        box-shadow: $default-box-shadow;
    }

    &--inner--vertical {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        float: left;
        transition: all 0.8s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        box-shadow: $default-box-shadow;
    }

    &:hover &--inner--vertical {
        transform: rotateX(180deg);
        box-shadow: $dark-box-shadow;
    }

    &:active &--inner--vertical {
        box-shadow: $default-box-shadow;
    }

    &__front, &__back {
        // position: absolute;
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &__front {
        background-color: white;
    }
        
    &__back {
        position: absolute;
        top: 0;
        background-color: orange;


        &--horizontal {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        &--vertical {
            -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
        }

        &__image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
