.nav {
    background-color: $color-dark-grey;
    overflow: hidden;
    font-size: $defualt-font-size;
    padding: 0 8vw 0;
}

.nav-list {
    list-style-type: none;
    overflow: hidden;
}

.nav-brand {
    float: left;
    display: block;
    text-align: center;
    padding: 1.8rem 1.6rem;
    text-decoration: none;
    color: white;

    font-size: $large-font-size;
}

.nav-item {
    float: left;
    display: block;
    text-align: center;
    padding: 2.0rem 1.6rem;

    .nav-link {
        text-decoration: none;
        color: white;
    }

    &:hover {
        cursor: pointer;
        background-color: #111;
    }

    &--right {
        float: right;
    }

}

.header {
    text-align: center;
    padding-top: 4rem; 
    padding-bottom: 4rem;
}

.container {
    text-align: center;
    padding-top: 4rem; 
    padding-bottom: 4rem;
}