body {
    background-color: rgb(169, 231, 255);
    // padding: 7rem;
}

.nav {
    position: relative;
    display: block;
    width: 100%;
    height: 20vh;
}

.nav-menu-overlay {
    background-color: rgb(44, 41, 50);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 0vh;
    width: 0vw;
    opacity: 1;
    border-bottom-right-radius: 100%;
    transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
    display: none;

    .nav-menu {
        display: block;
        position: absolute;
        // background-color: darkgreen;
        top: 47vh;
        left: 50vw;
        opacity: 0;
        z-index: 10;   
        transform: translate(-50%, -50%);
        transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
        text-align: center;
        color: white;
        
        .heading-primary {
            font-size: $primary-heading-font-size;
            line-height: 10rem;
        }

        .nav-text {
            font-size: $secondary-heading-font-size;
            line-height: 8rem;
            display: block;
            position: relative;

            &:hover {
                cursor: pointer;
                color: black;
                z-index: 12;

                &:before  {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    z-index: -1;
                }
            }
    
            &:before {
                content: "";
                position: absolute;
                top: 24%;
                left: 19.6%;
                width: 60%;
                height: 50%;
                // transform: translate(-50%, -50%);
                background-color: #fff;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all .3s ease-in-out 0s;
                transition: all .3s ease-in-out 0s;
            }
    
            &:active {
                &:before {
                    -webkit-transform: scaleX(0.8);
                    transform: scaleX(0.8);
                }
            }
        }
    }
}

.container {
    width: 30rem;
    height: 35rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main {
    width: 80vw;
    height: 80vh;
}